.content .view_box {
  width: 100%;
  height: 612px;
  overflow: hidden;
  position: relative;
}
.content .view_box ul li {
  position: relative;
  height: 612px;
  overflow: hidden;
}
.content .view_box ul li img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
