.content .view_box ul li img.pic1 {
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.content .view_box ul li img.pic2 {
  top: 165px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.content .view_box ol {
  position: absolute;
  left: 43px;
  top: 56px;
  padding: 93px 0 93px 0;
}
.content .view_box ol li {
  margin-bottom: 30px;
  line-height: 22px;
}
.content .view_box ol li i {
  display: block;
  width: 21px;
  height: 21px;
  background-color: #908e8f;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 26px;
  margin-top: 3px;
  position: relative;
}
.content .view_box ol li span {
  font: 22px "microsoft yahei";
  color: #737373;
}
.content .view_box ol li.active i {
  background: url(../images/navpoint.png) no-repeat 0 -22px;
}
.content .view_box ol li.active span {
  font-weight: bold;
  color: #000;
}
.content .view_box ol:before {
  content: "";
  width: 1px ;
  height: 312px;
  background-color: #a5a5a5;
  position: absolute;
  left: 11px;
  top: 0;
}
