.content_brand {
  width: 100%;
}
.content_brand .banner_wrapper {
  width: 100%;
  height: 370px;
  position: relative;
  overflow: hidden;
}
.content_brand .banner_wrapper img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.content_brand .banner_wrapper h2 {
  position: absolute;
  left: 50%;
  top: 134px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font: 56px "microsoft yahei";
  color: #fff;
}
.content_brand .banner_wrapper h3 {
  position: absolute;
  left: 50%;
  top: 200px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font: 30px "microsoft yahei";
  color: #fff;
}
.content {
  width: -50%;
  margin: 22px 75px 0 75px;
  /*  height:683px-22px; */
}
.content .hidden {
  display: none;
}
.content .aside {
  width: 108px;
  float: left;
}
.content .aside h3 {
  font: 22px "microsoft yahei";
  color: #333;
  padding-bottom: 22px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.content .aside ul li {
  border-bottom: 1px solid #ddd;
  padding: 16px 0 18px 0;
}
.content .aside ul li h3 {
  line-height: 30px;
  border: none;
  padding: 0;
}
.content .aside ul li a {
  display: block;
  font: 16px/30px "microsoft yahei";
  color: #333;
}
.content .aside ul li .active {
  font-weight: bold;
}
.content .ffan_service {
  width: 996px;
  float: right;
}
.content .ffan_service .service_tilte {
  padding-bottom: 18px;
  border-bottom: 1px dashed #ddd;
}
.content .ffan_service .service_tilte h2 {
  font: 30px "microsoft yahei";
  color: #333;
  margin-bottom: 36px;
}
.content .ffan_service .service_tilte p {
  font: 15px/28px "microsoft yahei";
  color: #333;
  padding-left: 6px;
}
.content .ffan_service .service_weibo {
  height: 217px;
  border-bottom: 1px dashed #ddd;
}
.content .ffan_service .service_weibo p {
  font: 17px "microsoft yahei";
  color: #333;
  padding: 34px 0 23px 6px;
}
.content .ffan_service .service_weibo a {
  display: block;
  margin: 0 0 18px 24px;
}
.content .ffan_service .service_weibo span {
  font: 15px "microsoft yahei";
  color: #333;
  padding-left: 28px;
}
.content .ffan_service .service_weixin {
  height: 252px;
  border-bottom: 1px dashed #ddd;
}
.content .ffan_service .service_weixin p {
  font: 15px "microsoft yahei";
  color: #333;
  padding: 34px 0 22px 6px;
}
.content .ffan_service .service_weixin .qr_box {
  height: 154px;
}
.content .ffan_service .service_weixin .qr_box a {
  display: block;
  float: left;
}
.content .ffan_service .service_weixin .qr_box span {
  display: block;
  width: 140px;
  font: 15px "microsoft yahei";
  color: #333;
  text-align: center;
}
.content .items {
  width: 996px;
  float: right;
}
.content .items h2 {
  font: 30px "microsoft yahei";
  color: #333;
}
.content .items ul {
  margin-bottom: 31px;
}
.content .items ul li {
  width: 100%;
}
.content .items ul li .answer {
  overflow: hidden;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px dashed #ddd;
}
.content .items ul li .answer p {
  font: 15px/38px "microsoft yahei";
  color: #333;
}
.content .items ul li .list {
  height: 68px;
  border-bottom: 1px dashed #ddd;
}
.content .items ul li .list h3 {
  font: 16px/69px "microsoft yahei";
  float: left;
}
.content .items ul li .list span {
  float: right;
  cursor: pointer;
  position: relative;
  padding-left: 14px;
  font: 16px "microsoft yahei";
  margin-top: 26px;
}
.content .items ul li .list span:before {
  content: "";
  width: 10px;
  height: 5px;
  position: absolute;
  left: 0;
  top: 9px;
  background: url(../images/arrow.png) no-repeat;
}
.content .items ul li .list span.up:before {
  background-position: 0 -5px;
}
.content .items ul li .list span.down:before {
  background-position: 0 0;
}
.content .items ul li .answer1 em {
  font: 900 22px/52px "microsoft yahei";
}
.content .items ul li .answer3 .answer3_list {
  margin-bottom: 6px;
  overflow: hidden;
}
.content .items ul li .answer3 .answer3_list span {
  width: 89px;
  height: 31px;
  background: url(../images/tipbg.png) no-repeat;
  margin-top: 3px;
  font: 15px/31px "microsoft yahei";
  color: #333;
  text-align: center;
  margin-right: 12px;
}
.content .qa {
  width: 996px;
  float: right;
}
.content .qa h2 {
  font: 28px "microsoft yahei";
  color: #333;
  margin-bottom: 6px;
}
.content .qa p {
  font: 16px/28px "microsoft yahei";
}
.content .qa p span {
  color: #2abfff;
}
.content .qa p:nth-child(even) {
  color: #333;
}
.content .qa p:nth-child(odd) {
  color: #999;
}
.content .user_centerQ .qa p:nth-child(odd) {
  color: #333;
}
.content .user_centerQ .qa p:nth-child(even) {
  color: #999;
  padding-left: 22px;
  position: relative;
}
.content .user_centerQ .qa p:nth-child(even):before {
  content: "答:";
  color: #2abfff;
  font: 16px/28px "microsoft yahei";
  position: absolute;
  left: 0;
  top: 5px;
}
