.content_brand {
  width: 100%;
}
.content_brand .banner_wrapper {
  width: 100%;
  height: 370px;
  position: relative;
  overflow: hidden;
}
.content_brand .banner_wrapper img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.content_brand .banner_wrapper h2 {
  position: absolute;
  left: 50%;
  top: 134px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font: 56px "microsoft yahei";
  color: #fff;
}
.content_brand .banner_wrapper h3 {
  position: absolute;
  left: 50%;
  top: 200px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font: 30px "microsoft yahei";
  color: #fff;
}
.content {
  width: -50%;
  margin: 22px 75px 0 75px;
  height: 661px;
}
.content .aside {
  width: 108px;
  float: left;
}
.content .aside h3 {
  font: 22px "microsoft yahei";
  color: #333;
  padding-bottom: 22px;
  border-bottom: 1px solid #ddd;
}
.content .aside ul li {
  border-bottom: 1px solid #ddd;
  padding: 16px 0 18px 0;
}
.content .aside ul li h3 {
  line-height: 30px;
  border: none;
  padding: 0;
}
.content .aside ul li a {
  display: block;
  font: 16px/30px "microsoft yahei";
  color: #333;
}
.content .aside ul li a:hover {
  font-weight: bold;
}
.content .aside ul li .active {
  font-weight: bold;
}
.content .ffan_service {
  display: none;
  width: 996px;
  float: right;
}
.content .ffan_service .service_tilte {
  padding-bottom: 18px;
  border-bottom: 1px dashed #ddd;
}
.content .ffan_service .service_tilte h2 {
  font: 30px "microsoft yahei";
  color: #333;
  margin-bottom: 36px;
}
.content .ffan_service .service_tilte p {
  font: 15px/28px "microsoft yahei";
  color: #333;
  padding-left: 6px;
}
.content .ffan_service .service_weibo {
  height: 217px;
  border-bottom: 1px dashed #ddd;
}
.content .ffan_service .service_weibo p {
  font: 17px "microsoft yahei";
  color: #333;
  padding: 34px 0 23px 6px;
}
.content .ffan_service .service_weibo a {
  display: block;
  margin: 0 0 18px 24px;
}
.content .ffan_service .service_weibo span {
  font: 15px "microsoft yahei";
  color: #333;
  padding-left: 28px;
}
.content .ffan_service .service_weixin {
  height: 252px;
  border-bottom: 1px dashed #ddd;
}
.content .ffan_service .service_weixin p {
  font: 15px "microsoft yahei";
  color: #333;
  padding: 34px 0 22px 6px;
}
.content .ffan_service .service_weixin .qr_box {
  height: 154px;
}
.content .ffan_service .service_weixin .qr_box a {
  display: block;
  float: left;
}
.content .ffan_service .service_weixin .qr_box span {
  display: block;
  width: 140px;
  font: 15px "microsoft yahei";
  color: #333;
  text-align: center;
}
.content .ffan_app {
  width: 996px;
  float: right;
}
.content .ffan_app h2 {
  font: 28px "microsoft yahei";
  color: #333;
}
.content .ffan_app ul li {
  width: 100%;
  height: 69px;
}
.content .ffan_app ul li p {
  height: 68px;
  border-bottom: 1px dashed #ddd;
}
.content .ffan_app ul li p h3 {
  font: 15px/69px "microsoft yahei";
  float: left;
}
.content .ffan_app ul li p span {
  float: right;
  cursor: pointer;
  position: relative;
  padding-left: 14px;
  font: 16px "microsoft yahei";
  margin-top: 26px;
  /* &:before{
                            content:"";
                            width:10px;
                            height:5px;
                            position: absolute;
                            left:0;
                            top:9px;
                            background:url(../images/arrow.png) no-repeat ;
                        }
                        &.up:before{
                            background-position: 0 -5px;
                        }
                        &.down:before{
                            background-position: 0 0;
                        } */
}
