#wrapper .header1 {
  width: 100%;
  height: 148px;
}
#wrapper .header1 .title {
  height: 104px;
}
#wrapper .header1 .title h1 {
  float: left;
  margin: 21px 44px 0 77px;
}
#wrapper .header1 .title h1 a {
  display: block;
}
#wrapper .header1 .title h1 a img {
  width: 127px;
}
#wrapper .header1 .title h2 {
  font: 24px/48px "microsoft yahei";
  color: #1e698c;
  border-left: 1px solid #c1c1c1;
  float: left;
  padding-left: 40px;
  margin-top: 37px;
}
#wrapper .header1 .title .login_bar {
  float: right;
  padding-top: 45px;
}
#wrapper .header1 .title .login_bar a {
  float: left;
  font: 14px "microsoft yahei";
  padding-top: 6px;
}
#wrapper .header1 .title .login_bar a:hover {
  color: #2abfff;
}
#wrapper .header1 .title .login_bar .register {
  color: #ff0000;
  margin-right: 34px;
}
#wrapper .header1 .title .login_bar .login {
  color: #333;
  margin-right: 49px;
}
#wrapper .header1 .title .login_bar span {
  float: right;
  margin-right: 74px;
  font: 24px "microsoft yahei";
  padding-left: 26px;
  position: relative;
}
#wrapper .header1 .title .login_bar span:before {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  top: 5px;
  background: url(../images/header.png) no-repeat;
}
#wrapper .header1 .nav_bar {
  background-color: #4f545e;
}
#wrapper .header1 .nav_bar ul {
  margin-left: 75px;
}
#wrapper .header1 .nav_bar ul li {
  float: left;
}
#wrapper .header1 .nav_bar ul li a {
  display: block;
  width: 120px;
  font: 18px/44px "microsoft yahei";
  color: #fff;
  text-align: center;
}
#wrapper .header1 .nav_bar ul li a:hover {
  background-color: #2abfff;
}
#wrapper .header1 .nav_bar ul li .active {
  background-color: #2abfff;
}
#wrapper .content {
  width: 100%;
  height: 574px;
  overflow: hidden;
}
#wrapper .content .banner_wrapper {
  height: 574px;
  position: relative;
}
#wrapper .content .banner_wrapper img {
  height: 574px;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
#wrapper .content .banner_wrapper .login_form {
  width: 360px;
  height: 211px;
  border-radius: 7px;
  background-color: rgba(225, 225, 225, 0.7);
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -115px;
  box-shadow: 1px 1px 6px #000;
  padding: 20px 20px 0 20px;
}
#wrapper .content .banner_wrapper .login_form input {
  float: left;
  width: 310px;
  height: 50px;
  border-radius: 7px;
  font: 16px/50px "microsoft yahei";
  color: #767676;
  padding-left: 50px;
  margin-bottom: 10px;
  background-color: #fff;
}
#wrapper .content .banner_wrapper .login_form .code_form {
  width: 210px;
  padding-left: 20px;
}
#wrapper .content .banner_wrapper .login_form .phoneicon {
  background: #ffffff url(../images/phoneicon.png) no-repeat 13px 12px;
}
#wrapper .content .banner_wrapper .login_form .lockicon {
  background: #ffffff url(../images/lockicon.png) no-repeat 13px 12px;
}
#wrapper .content .banner_wrapper .login_form a {
  float: left;
}
#wrapper .content .banner_wrapper .login_form .test_code {
  width: 120px;
  height: 50px;
  text-align: center;
  font: 16px/50px "microsoft yahei";
  background-color: #2abfff;
  border-radius: 7px;
  margin-left: 10px;
  color: #fff;
  margin-bottom: 10px;
}
#wrapper .content .banner_wrapper .login_form .register {
  color: red;
  margin-right: 252px;
}
#wrapper .content .banner_wrapper .login_btn a {
  width: 400px;
  height: 50px;
  border-radius: 7px;
  background-color: #2abfff;
  font: 18px/50px "microsoft yahei";
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: 125px;
  color: #fff;
}
