#wrapper .header {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
#wrapper .header img {
  width: 85px;
  height: 40px;
  margin: 5px 148px 0 76px;
}
#wrapper .header ul li {
  float: left;
  position: relative;
}
#wrapper .header ul li a {
  display: block;
  width: 138px;
  color: #333;
  font: 14px/50px "microsoft yahei";
  text-align: center;
}
#wrapper .header ul li a:hover {
  background-color: #e8e8e8;
}
#wrapper .header ul li.active a {
  background-color: #e8e8e8;
}
#wrapper .header ul li.home a {
  padding-left: 40px;
  width: 98px;
}
#wrapper .header ul li.home a i {
  width: 20px;
  height: 18px;
  position: absolute;
  background: url(../images/icon-all.png) no-repeat -10px -14px;
  left: 45px;
  top: 14px;
}
#wrapper .header ul li.merchant {
  position: relative;
}
#wrapper .header ul li.merchant i {
  width: 18px;
  height: 17px;
  position: absolute;
  background: url(../images/icon-all.png) no-repeat 0 -560px;
  left: 13px;
  top: 17px;
}
#wrapper .header ul li.merchant span {
  width: 14px;
  height: 6px;
  position: absolute;
  background: url(../images/icon-all.png) no-repeat 0 -654px;
  right: 13px;
  top: 24px;
}
#wrapper .header ul li.merchant1:after {
  content: "我是个人";
  width: 93px;
  height: 50px;
  padding-left: 45px;
  font: 14px/50px "microsoft yahei";
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 9999;
  background: #ffffff url(../images/icon-all.png) no-repeat 15px -596px;
}
#wrapper .empty {
  width: 100%;
  height: 51px;
  background-color: transparent;
}
#wrapper .footer {
  width: -50%;
  height: 72px;
  padding-top: 34px;
  border-top: 1px solid #ccc;
  margin: 0 75px;
}
#wrapper .footer ul {
  height: 20px;
  width: 351px;
  margin: 0 auto;
}
#wrapper .footer ul li {
  float: left;
}
#wrapper .footer ul li a {
  display: block;
  width: 86px;
  text-align: center;
  border-right: 1px solid #333;
  font: 14px "microsoft yahei";
  color: #333;
}
#wrapper .footer ul li a:hover {
  font-weight: bold;
}
#wrapper .footer ul li .noborder {
  border-right: none;
}
#wrapper .footer p {
  width: 100%;
  text-align: center;
  font: 14px/30px "microsoft yahei";
  color: #333;
}
#wrapper .popup_cor {
  position: absolute;
  left: 50%;
  top: 216px;
  background-color: #fff;
  z-index: 9999;
  display: none;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 690px;
  height: 518px;
  border-radius: 5px;
  margin: 0 auto;
}
#wrapper .popup_cor h3 {
  font: 28px "microsoft yahei";
  color: #000;
  width: 100%;
  text-align: center;
  padding-top: 24px ;
  padding-bottom: 22px;
}
#wrapper .popup_cor span.close {
  cursor: pointer;
  position: absolute;
  right: 28px;
  top: 29px;
  width: 19px;
  height: 19px;
  background: url(../images/tipicon.png) no-repeat 0 -100px;
}
#wrapper .popup_cor div {
  padding-right: 174px;
}
#wrapper .popup_cor div label {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 18px;
}
#wrapper .popup_cor div label input {
  float: right;
  display: inline-block;
  width: 332px;
  height: 37px;
  border: 1px solid #dadada;
  padding-left: 4px;
}
#wrapper .popup_cor div label span {
  float: left;
  font: 18px/40px "microsoft yahei";
  color: #333;
  width: 176px;
  text-align: right;
}
#wrapper .popup_cor div label span em {
  margin-right: 4px;
  color: red;
}
#wrapper .popup_cor div label p {
  float: left;
  font: 14px "microsoft yahei";
  color: #999;
}
#wrapper .popup_cor div button {
  width: 186px;
  height: 42px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #63d0ff;
  color: #63d0ff;
  text-align: center;
  font: 20px/42px "microsoft yahei";
  margin-left: 250px;
  margin-top: 30px;
  outline: none;
}
#wrapper .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
