.content_brand .banner_wrapper {
  width: 100%;
  height: 370px;
  overflow: hidden;
  position: relative;
}
.content_brand .banner_wrapper img {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.content_brand .banner_wrapper h2 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 126px;
  text-align: center;
  font: 56px "microsoft yahei";
  color: #fff;
}
.content_brand .banner_wrapper h3 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 68px;
  text-align: center;
  font: 36px "microsoft yahei";
  color: #fff;
}
.content_brand .banner_wrapper h3.h_bot {
  top: 216px;
}
.content_brand .banner_wrapper a {
  width: 250px;
  height: 70px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 26px;
  text-align: center;
  font: 30px/70px "microsoft yahei";
  color: #fff;
  background-color: #2abfff;
  border-radius: 5px;
}
.content_pic .pic_top {
  height: 390px;
  width: 100%;
  padding-top: 46px;
  /* 不懂为什么包了一层盒子 图片就右边一部分没有了 */
}
.content_pic .pic_top p {
  padding-top: 106px;
  padding-left: 194px;
  float: left;
  font: 18px/45px "microsoft yahei";
}
.content_pic .pic_top p span {
  font: 28px "microsoft yahei";
  color: #333;
}
.content_pic .pic_top div {
  width: 625px;
  height: 392px;
  overflow: hidden;
  float: right;
}
.content_pic .pic_mid {
  width: 100%;
  height: 638px;
  background-color: #f2f3f2;
}
.content_pic .pic_mid p {
  width: 100%;
  font: 18px/30px "microsoft yahei";
  color: #666;
  text-align: center;
}
.content_pic .pic_mid .top {
  padding-top: 46px;
}
.content_pic .pic_mid img {
  margin-left: 70px;
}
