#wrapper .content .banner_wrapper {
  position: relative;
  height: 470px;
}
#wrapper .content .banner_wrapper ul {
  position: absolute;
  left: 0;
  top: 0;
}
#wrapper .content .banner_wrapper ul li {
  float: left;
}
#wrapper .content .banner_wrapper ul li img {
  width: 100%;
  height: 470px;
}
#wrapper .content .banner_wrapper ul li a {
  width: 718px;
  height: 162px;
  position: absolute;
  left: 91px;
  top: 123px;
  color: #fff;
  text-align: center;
}
#wrapper .content .banner_wrapper ul li a .line1 {
  font: 60px "microsoft yahei";
}
#wrapper .content .banner_wrapper ul li a .line2 {
  font: 30px "microsoft yahei";
}
#wrapper .content .banner_wrapper ul li a span {
  width: 67px;
  height: 67px;
  position: absolute;
  right: 0;
  top: 58px;
  background: url(../images/more.png) no-repeat;
}
#wrapper .content .banner_wrapper .page_dotted {
  height: 15px;
  position: absolute;
  left: 581px;
  bottom: 24px;
}
#wrapper .content .banner_wrapper .page_dotted a {
  float: left;
  width: 14px;
  height: 14px;
  border: 1px solid #9c8b93;
  border-radius: 50%;
  margin-right: 28px;
}
#wrapper .content .banner_wrapper .page_dotted a:hover {
  background-color: #2abfff;
}
#wrapper .content .banner_wrapper .page_dotted a.active {
  background-color: #2abfff;
}
#wrapper .content .banner_wrapper .popup2 {
  width: 278px;
  height: 405px;
  position: absolute;
  right: 134px;
  bottom: 31px;
  overflow: hidden;
}
#wrapper .content .banner_wrapper .popup2 div {
  float: left;
  font: 16px/37px "microsoft yahei";
  color: #fff;
  padding-top: 95px;
  padding-left: 11px;
  cursor: pointer;
}
#wrapper .content .banner_wrapper .popup2 .stage1 {
  width: 264px;
  height: 37px;
  background-color: #e86a71;
  position: relative;
}
#wrapper .content .banner_wrapper .popup2 .stage1:hover {
  background-color: #f05858;
}
#wrapper .content .banner_wrapper .popup2 .stage1 span {
  width: 41px;
  height: 44px;
  position: absolute;
  left: 117px;
  top: 32px;
  background: url(../images/icon-all.png) no-repeat -5px -201px;
}
#wrapper .content .banner_wrapper .popup2 .stage2 {
  width: 125px;
  height: 37px;
  background: #68b2d2;
  margin-right: 3px;
  margin-top: 3px;
  background-color: #68b2d2;
  position: relative;
}
#wrapper .content .banner_wrapper .popup2 .stage2:hover {
  background-color: #4bb3d8;
}
#wrapper .content .banner_wrapper .popup2 .stage2 span {
  width: 46px;
  height: 47px;
  position: absolute;
  left: 45px;
  top: 31px;
  background: url(../images/icon-all.png) no-repeat -1px -247px;
}
#wrapper .content .about {
  width: -49%;
  margin: 22px 74px 23px 75px;
}
#wrapper .content .about h2 {
  font: 20px "microsoft yahei";
  color: #333333;
  margin-bottom: 16px;
}
#wrapper .content .about .ffanApp {
  width: 275px;
  height: 123px;
}
#wrapper .content .about .ffanApp * {
  float: left;
}
#wrapper .content .about .ffanApp .list1 {
  padding: 4px 0 5px 0;
}
#wrapper .content .about .ffanApp .list1 .version {
  width: 152px;
  height: 28px;
  font: 12px "microsoft yahei";
  border-left: 1px solid #ccc;
  padding-left: 10px;
}
#wrapper .content .about .ffanApp .list1 .version p {
  color: #333333;
  font-family: "microsoft yahei";
}
#wrapper .content .about .ffanApp .list1 .version span {
  color: #2abfff;
}
#wrapper .content .about .ffanApp span.ic_ios {
  width: 36px;
  height: 28px;
  background: url(../images/ios.png) no-repeat center center;
}
#wrapper .content .about .ffanApp span.ic_and {
  width: 36px;
  height: 28px;
  background: url(../images/and.png) no-repeat center center;
}
#wrapper .content .about .marchant {
  width: 444px;
}
#wrapper .content .about .marchant .ios,
#wrapper .content .about .marchant .and {
  width: 217px;
}
#wrapper .content .about .marchant .right_info {
  width: 135px;
}
#wrapper .content .about .marchant .right_info h5,
#wrapper .content .about .marchant .right_info p {
  margin-left: 6px;
  position: relative;
  font: 12px "microsoft yahei";
  color: #333;
}
#wrapper .content .about .marchant .right_info h5 span,
#wrapper .content .about .marchant .right_info p span {
  color: #2abfff;
}
#wrapper .content .about .marchant .right_info h5 {
  padding-left: 23px;
  margin-top: 39px;
}
#wrapper .content .about .marchant .right_info h5:before {
  display: block;
  content: "";
  width: 16px;
  height: 17px;
  background: url(../images/ios.png) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
#wrapper .content .about .focus div span {
  font: 12px "microsoft yahei";
  color: #333;
  padding-left: 12px;
}
#wrapper .content .about .focus .wechatserver {
  margin-left: 6px;
  padding-right: 14px;
  border-right: 1px solid #ccc;
}
#wrapper .content .about .focus .weibo div img {
  margin-left: 16px;
  margin-bottom: 20px;
}
#wrapper .content .about .contact {
  margin-left: 30px;
}
#wrapper .content .about .contact h3,
#wrapper .content .about .contact p {
  font: 15px/28px "microsoft yahei";
  color: #333;
}
#wrapper .content .about .contact p {
  padding-left: 19px;
  position: relative;
}
#wrapper .content .about .contact p:before {
  content: "";
  width: 14px;
  height: 16px;
  background: url(../images/icontel.png) no-repeat 0 0;
  position: absolute;
  left: 0;
  top: 7px;
}
