.content_brand{
    width:100%;
    .banner_wrapper{
            width:100%;
            height: 370px;
            position: relative;
            overflow:hidden;
            img{
                position: absolute;
                left: 50%;
                -webkit-transform: translateX(-50%);
                   -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                     -o-transform: translateX(-50%);
                        transform: translateX(-50%);
            }
    }
}
.content{
    width:100%-150px;
    
    margin:58px 75px 34px;
    ul{
        float: left;
        li{
            padding:0 10px;
            line-height: 38px;
            a{
                font:16px/40px "microsoft yahei";
                color:#333;
            }
            .active{
                font-weight: bold;
            }
            
        }
    }
    .hide{
        display:none;
    }
    .ffan_info{
        width:1070px;
        float: right;
        
        h2{
            width:148px;
            font:30px "microsoft yahei";
            color:#2abfff;
            float: left;
        }
        p{
            float: right;
            width:920px;
            font:16px/30px "microsoft yahei";
            color:#333;
            padding-top: 8px;

        }
    }
    .ffan_news{
       
        width:1070px;
        float: right;
        .news_list{
            margin:0 10px;
            .list{
                height:240px-40px-10px;
                border-bottom: 1px dotted #cfcfcf;
                padding:0;
                .title{
                    width:100%;
                    display: block;
                    font:30px "microsoft yahei";
                    color:#000;
                    margin-top: 40px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                .nomargin{
                    margin-top: 0;
                }
                .time{
                    font:14px "microsoft yahei";
                    color:#666;
                    margin-top: 10px;
                }
                .article{
                    font:16px/30px "microsoft yahei";
                    color:#333;
                    a{
                        display:inline-block;
                        color:#2abfff;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            .top{
                height:240px-45px;
            }
        }
        
        
    }
    .ffan_direction{
        width:1070px;
        float: right;

        h2{
            width:148px;
            font:30px "microsoft yahei";
            color:#2abfff;
            float: left;
        }
        div{
            h3{
                font: bold 16px "microsoft yahei";
            }
            float: right;
            width:920px;
            font:16px/30px "microsoft yahei";
            color:#333;
            padding-top: 8px;

        }
    }
}